@import (reference) 'main.less';

.experience-title {
    font-size: @font-size-large;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    display: block;
    padding-right: @icon-size + (@padding * 3);
    span {
        display: inline-block;
        &.highlight {
            font-style: italic;
        }
    }

}