@import (reference) 'main.less';

@animate-duration: 0.5s;

.header {
    background: @site-colour-medium;
    height: @header-size;
    z-index: 10;
    .site-logo {
        .center-content(false);
        float: left;
        .logo-content {
            text-align: center;
            margin-left: @gutter-size / 2;
            font-size: @font-size-small;
            .name {
                font-size: @font-size-medium;
            }
        }
    }
    .menu {
        float: right;
        .center-content(false);
        .desktop {
            > ul {
                list-style: none;
                > li {
                    float: left;
                    font-size: @font-size-medium;
                    margin-right: @gutter-size;
                    margin-bottom: 0;
                    background: none;
                    padding: 0;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
        .hamburger {
            margin-right: @gutter-size / 2;
            cursor: pointer;
            .hamburger-animate(@header-size / 2, @site-inverted-colour, @animate-duration);
        }
    }
    .side-nav-container {
        position: relative;
        overflow: hidden;
        height: 300px; //Arbitrary - just make sure it shows
        .side-nav {
            position: absolute;
            right: -@side-nav-size;
            width: @side-nav-size;
            z-index: 999;
            background: @site-colour-dark;
            padding: 0 @gutter-size;

            .transition-property(right);
            .transition-duration(@animate-duration);

            > ul {
                list-style: none;
                padding: 0;
                text-align: center;
                > li {
                    font-size: @font-size-medium;
                    margin: @gutter-size 0;
                    background: none;
                    padding: 0;
                }
            }
            &.active {
                right: 0;
            }
        }
    }
}