@import (reference) 'main.less';

@image-width: 300px;
.content-panel.about {
    .content-page {
        width: 100%;
        padding: @gutter-size;
        .clearfix();
        .image {
            height: 100%;
            float: left;
            width: @image-width;
            img {
                max-width: 100%;
            }
        }
        .text {
            margin-left: @gutter-size;
            float: left;
            &.floated {
                width: ~"calc(100% - @{image-width} - (@{gutter-size} * 2))";
            }
        }
        @media screen and (max-width: @breakpoint-mobile) {
            .image {
                width: 100%;
                .center-content();
            }
            .text {
                margin: @gutter-size 0;
                &.floated {
                    width: 100%;
                }
            }
        }
    }
}
