@import (reference) 'main.less';

/**
 * Transition Animations
 */
.slide-down {
    max-height: @slide-height;

    .transition-property(all);
    .transition-timing-function(linear);
    .transition-duration(@transition-duration);

    &.ng-hide-add {
        max-height: @slide-height;
        display: block !important;
        &.ng-hide-add-active {
            max-height: 0;
        }
    }
    &.ng-hide-remove {
        max-height: 0;
        &.ng-hide-remove-active {
            max-height: @slide-height;
        }
    }
}

.ng-fade {
    &.ng-enter,
    &.ng-leave {
        .transition-property(opacity);
        .transition-timing-function(linear);
        .transition-duration(@transition-duration);
    }
    &.ng-enter {
        opacity: 0;
        .transition-delay(@transition-duration / 2);
        &.ng-enter-active {
            opacity: 1;
        }
    }
    &.ng-leave {
        position: absolute;
        top: @gutter-size;
        left: @gutter-size;
        margin-right: @gutter-size;
        opacity: 1;
        &.ng-fade-centered {
            top: 0;
            left: 0;
            right: 0;
            margin-right: 0;
            padding-left: 15px; //Account for bootstrap padding on container
            padding-right: 15px; //Account for bootstrap padding on container
        }
        &.ng-leave-active {
            opacity: 0;
        }
    }
}

/**
 * Animated Elements
 */
.hamburger-animate(@size, @colour, @duration: 1s) {
    @split-duration: @duration / 2;
    width: @size;
    height: @size;
    position: relative;
    .top,
    .middle,
    .bottom {
        width: 100%;
        height: @size / 10;
        background: @colour;
        right: 0;
        position: absolute;
    }
    .top {
        top: 0;

        .transition-property(top;transform;);
        .transition-duration(@split-duration,@split-duration;);
        .transition-delay(@split-duration, 0s;);
    }
    .middle {
        top: @size / 2;
        margin-top: -(@size / 10 / 2); //Offset for 0.5 times the height

        .transition-property(width);
        .transition-duration(@split-duration);
    }
    .bottom {
        bottom: 0;

        .transition-property(bottom;transform;);
        .transition-duration(@split-duration,@split-duration;);
        .transition-delay(@split-duration, 0s;);
    }
    &.active {
        .top {
            .transform(rotate(45deg));
            top: 20%;
            left: 30%;
            width: 75%;

            .transition-property(top;transform;);
            .transition-duration(@split-duration,@split-duration;);
            .transition-delay(0s, @split-duration;);
        }
        .middle {
            width: 0%;
        }
        .bottom {
            .transform(rotate(-45deg));
            bottom: 20%;
            left: 30%;
            width: 75%;

            .transition-property(bottom;transform;);
            .transition-duration(@split-duration,@split-duration;);
            .transition-delay(0s, @split-duration;);
        }
    }
}