@import (reference) 'main.less';

.collapsible {
    margin: (@gutter-size / 2) 0;
    .container {
        padding: 0;
        .tiles {
            margin-left: -(@gutter-size / 2);
            > a {
                .center-content();
                width: 100px;
                height: 100px;
                float: left;
                background: fadeout(@site-inverted-colour, 15%);
                margin: 0 (@gutter-size / 2);
                img {
                    max-width: 80px;
                    max-height: 80px;
                }
            }
        }
    }

}