@import (reference) 'main.less';

.collapsible {
    margin: 10px 0;
    .container {
        padding: 0;
        .tile {
            width: 100px;
            height: 100px;
            float: left;
            background: white;
            margin: 0 10px;
            //@TODO Style this properly
        }
    }

}