/**
 * These are the variables used throughout the application. This is where 
 * overwrites that are not specific to components should be maintained.
 */

/**
 * Typography-related.
 */

@sansFontFamily: 'Roboto', sans-serif;

/**
 * Sizing variables
 */

@header-size: 60px;
@footer-size: 150px;

/**
 * Colour scheme variables
 */

@site-base-colour: #7197AF;
@site-colour-dark: darken(@site-base-colour, 20);