@import (reference) '../../../less/main.less';

@padding: 5px;
@image-size: 40px;

.collapsible {
    width: 100%;
    position: relative;
    .logo {
        width: @image-size;
        height: @image-size;
        float: left;
        margin: @padding;
    }
    .title {
        .center-content(false);
        cursor: pointer;
        width: 100%;
        height: @image-size + (2 * @padding);
        background: rgba(0, 0, 0, 0.75);
        padding-left: @image-size + (@padding * 3);
        > div {
            font-size: @font-size-large;
            width: 100%;
        }
    }
    .icon {
        position: absolute;
        top: (@image-size / 2) - (@icon-size / 2) + @padding;
        right: (@padding * 3);
        cursor: pointer;
    }
    .collapsible-content {
        background: rgba(0, 0, 0, 0.5);
        overflow: hidden;
        > div {
            padding: @padding * 2;
        }
    }
}