<div class="footer">
    <div class="container">
        <div class="contact">
            <h3>Contact</h3>

            <div>E: <a href="mailto:mackjarred@gmail.com">mackjarred@gmail.com</a></div>
            <div>M: 0401 439 364</div>

            <div class="employment-status">Employment Status: <span class="unavailable">Unavailable</span></div>
        </div>
        <div class="copyright">
            Website Design and Development by Jarred Mack. Copyright &copy; 2015.
        </div>
    </div>
</div>