<div class="header">
    <div class="container">
        <div class="site-logo">
            <div>
                <img src="images/logos/jarred-mack.png" alt="Jarred Mack.com"/>
            </div>
            <div class="logo-content">
                <div class="name">Jarred Mack</div>
                <div>Front End/UX Developer</div>
            </div>
        </div>
        <div class="menu">
            <div ng-include="'partials/_menu.tpl.html'" class="desktop"></div>
            <div class="mobile">
                <div class="hamburger" ng-click="menu.active = !menu.active" ng-class="{active: menu.active}">
                    <div class="top"></div>
                    <div class="middle"></div>
                    <div class="bottom"></div>
                </div>
            </div>
        </div>
    </div>
    <div ng-include="'partials/_menu.tpl.html'" class="side-nav mobile" ng-class="{active: menu.active}"></div>
</div>