<form action="">
    <div class="form-row">
        <label for="name">Your Name/Company</label>
        <input name="name" id="name" type="text"/>
    </div>
    <div class="form-row">
        <label for="email">Your Email Address</label>
        <input name="email" id="email" type="text"/>
    </div>
    <div class="form-row half">
        <label for="budget">Expected Budget/Rate</label>
        <input name="budget" id="budget" type="text"/>
    </div>
    <div class="form-row half">
        <label for="duration">Estimated Duration</label>
        <select name="duration" id="duration">

        </select>
    </div>
    <div class="form-row">
        <label for="description">Project Description</label>
        <textarea name="description" rows="5" id="description" type="text"></textarea>
    </div>
    <div class="form-row">
        <button>Send</button>
    </div>
</form>