<div class="content-panel about">
    <div ng-show="!pages.length && !(status.get() == 'error')" class="loader">
        <div><i class="fa fa-spinner fa-spin"></i></div>
    </div>
    <tab-menu menu-items="pages" base-route="'/about'"></tab-menu>
    <div ng-repeat="page in pages" ng-if="page.active" class="content-page ng-fade">
        <div class="image" ng-if="!!page.photo">
            <div>
                <img ng-src="{{page.photo}}" alt=""/>
            </div>
        </div>
        <div class="text" ng-class="{ floated: !!page.photo }">
            <h1>{{page.displayTitle}}</h1>
            <div ng-bind-html="page.content | raw"></div>
        </div>
    </div>
</div>