<div class="contact content-panel">
    <div class="half desktop">
        <h1>{{content.displayTitle}}</h1>
        <div ng-bind-html="content.content | raw"></div>
        <div ng-include="'/partials/form/_contact.tpl.html'"></div>
    </div>
    <div class="half contact-details">
        <img src="{{contact.photo}}" alt="{{contact.name}}"/>
        <h2>{{contact.name}}</h2>
        <div class="details clearfix">
            <div ng-repeat="detail in contact.details">
                <div class="contact-type">{{detail.displayTitle}}:</div>
                <div class="detail">{{detail.detail}}</div>
            </div>
        </div>
    </div>
    <div class="half mobile">
        <h1>{{content.displayTitle}}</h1>
        <div ng-bind-html="content.content | raw"></div>
        <div ng-include="'/partials/form/_contact.tpl.html'"></div>
    </div>
</div>