<collapsible
        ng-repeat="job in experience"
        logo="job.logo"
        title-template="'partials/_experience_title.tpl.html'"
        title-data="job"
        collapsed="job.visible">
    <h1>{{job.title}} at {{job.company}}</h1>
    <div ng-bind-html="job.content | raw"></div>

    <div class="container">
        <div class="half" ng-if="job.portfolio.length > 0">
            <h2>Portfolio</h2>
            <div class="tiles">
                <a ng-repeat="site in job.portfolio" href="/portfolio/{{site.title}}">
                    <div>
                        <img src="{{site.logo}}" alt=""/>
                    </div>
                </a>
            </div>
        </div>
        <div class="half skills">
            <h3>Skills applied</h3>
            <ul class="clearfix">
                <li ng-repeat="skill in job.skills" class="half">
                    {{skill}}
                </li>
            </ul>

            <h3 ng-if="job.other.length > 0">Other skills</h3>
            <ul ng-if="job.other.length > 0" class="clearfix">
                <li ng-repeat="other in job.other" class="half">
                    {{other}}
                </li>
            </ul>
        </div>
    </div>
</collapsible>