<collapsible
        ng-repeat="job in experience"
        logo="job.logo"
        title-template="'partials/_experience_title.tpl.html'"
        title-data="job"
        collapsed="job.visible">
    <h1>{{job.title}} at {{job.company}}</h1>
    <p>{{job.description}}</p>

    <div class="container">
        <div class="half">
            <h2>Developed in this position</h2>
            <div class="tiles">
                <a ng-repeat="site in job.portfolio" href="/portfolio/{{site.title}}">
                    <div>
                        <img src="{{site.logo}}" alt=""/>
                    </div>
                </a>
            </div>
        </div>
        <div class="half">
            <h3>Skills and languages</h3>
            <ul>
                <li ng-repeat="skill in job.skill">
                    {{skill}}
                </li>
            </ul>

            <h3 ng-if="job.other.length > 0">Other skills</h3>
            <ul ng-if="job.other.length > 0">
                <li ng-repeat="other in job.other">
                    {{other}}
                </li>
            </ul>
        </div>
    </div>
</collapsible>