<!DOCTYPE html>
<html ng-app="jarredmack" ng-controller="AppCtrl">
    <head>
        <title ng-bind="pageTitle"></title>

        <!-- Routing fix - http://stackoverflow.com/a/26584076 -->
        <base href="/" />

        <!-- social media tags -->
        <meta property="og:title" content="Jarred Mack - Front End Developer" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://www.jarredmack.com/" />
        <meta property="og:image" content="http://api.jarredmack.com/images/photos/profile.jpg" />
        <meta property="og:description" content="Portfolio site for Jarred Mack. Contact me if you've got an exciting project in mind, and need an experienced developer to execute it!">

        <meta name="viewport" content="width=device-width; initial-scale=1">

        <link rel="icon" href="favicon.ico" type="image/x-icon" />

        <!-- TypeKit -->
        <script src="//use.typekit.net/cnt7bnk.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>

        <!-- font awesome from BootstrapCDN -->
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

        <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
        <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

        <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
        <script type="text/javascript" src="<%= file %>"></script><% }); %>

        <!-- Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-60258249-1', 'auto');

        </script>
    </head>
    <body>
        <div ng-include="'partials/_header.tpl.html'"></div>

        <div class="content">
            <div class="container">
              <div class="main ng-fade ng-fade-centered" ui-view="main"></div>
            </div>
            <div class="bg bottom"></div>
        </div>

        <div ng-include="'partials/_footer.tpl.html'"></div>
    </body>
</html>
